.min-palette {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
}

.mini-palette-colors {
    height: 80%;
    margin: 0;
}

.palette-color {
    display: inline-block;
    width: 20%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    margin-bottom: -4px;
}

.min-palette-title {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}