/* .all-palettes {
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.palette-list-nav {
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
}

.palette-list {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center
}

.a-palette {
    min-width: 30%;
    margin: 5px;
    min-height: 200px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
} */