.palette {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.palette-colors {
    height: 80% !important;
}

.palette-footer {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
}

.palette-logo {
    margin-left: 3px
}